body {
	font-family: Verdana, Arial, Helvetica,sans-serif;
	font-size:small;
	padding:10px;
}

h2 {
    color: #006dba;
    font-weight: normal;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    width: 800px;
}

image {
    max-width: 100%;
    height: auto;
}

select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

select {
   padding: 2px 2px 2px 0;
}

textarea {
	width: 100%;
	height: 300px;
	vertical-align: top;
    font: 12px verdana, arial, helvetica, sans-serif;
}

.field-layout {
    width: 800px;
    border: 1px solid #ccc;
	border-collapse: collapse;
	margin-bottom:25px;
}

.field-layout td {
    border: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
	font-size:small;
}

.field-layout tr {
    border: 1px solid #ccc;	
}

.field-layout th {
	text-align:right;
	padding-right:5px;
	background-color:#eee;
	border: 1px solid #ccc;
	font-size:small;
    width:200px;
}

.help {
    color:#ccc;
}

.message {
    color:#009933;
}
